body{
    font-family: 'Arial Narrow Bold';
    background: url("./constructive-backdrop.jpg")
    no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
h1, h2{
    float: left;
    width: 320px;
    background-color: #fff;
    text-align: center;
    color: #5a514c;
    clear: both;
}
h1{
    margin: 50px 0 0 50px;
    height: 175px;
    
}
table {
    margin: 0 0 0 50px;
    border: 1px solid #5a514c;
    border-radius: 13px;
    
    background-color: #fff;
}
table tr{
    border: 1px solid #5a514c;
    background-color: red;
}
table tr td{
    border: 2px solid green;
    border-radius: 13px;
    padding: 10px;
}