body{
    transition: all 0.3s ease;
    padding: 20px;

}

body.dark{
    background-color: #1a1a1a;
    color: #ffffff;
}
body.light{
    background-color: #ffffff;
    color: #1a1a1a;
}

button{
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.card{
    background-color: inherit;
    border: 1px solid currentColor;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.light .card{
    background-color: #f9f9f9;
}
.dark .card{
    background-color: #2a2a2a;
}