

        .loading{
            border:10px solid red;
        width:80px; height:80px; border-radius:50%;
        border-left:10px solid black; animation:loading 2s infinite
        }

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}