*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #5b80aa;
    display: flex;
    justify-content: center;
}
label{
    position: absolute;
    left: 0;
    z-index: 1;
    transition: all .5s ease; 
}
label i{
    font-size: 32px;
}
label i:nth-child(2){
    display: none;
}
input[type="checkbox"]{
    display: none;
}

input#myCheckbox:checked ~ label{
    right: 0;
    left: auto;
}
#myCheckbox:checked ~ label i:nth-child(1){
    display: none;
}
#myCheckbox:checked ~ label i:nth-child(2){
    display: block;
}
div.menu{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 30vh;
    align-items: center;
    background-color: tomato;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: -100%;
    transition: top .5s ease;
}
span.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#myCheckbox:checked ~ div.menu{
    top:0;
}

