body{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    width: 260px;
    text-align: center;
}
.title{
    /* float: left; */
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}